{
  "GhlDataProxy": {
    "LOCAL_DEV": "true",
    "DYNAMO_CACHE_TABLE": "ghl-cache",
    "DYNAMO_TENANTS_TABLE": "ghl-tenants",
    "DYNAMO_ENDPOINT": "http://localhost:8000",
    "GHL_WIDGETS_TENANTS_WPHRMु0X3OCD2PEPBJCH_ACCESS_TOKEN": "pit-YOUR-DEMO-TOKEN-HERE",
    "GHL_WIDGETS_API_KEY": "your-local-api-key-here"
  },
  "GhlConfigApi": {
    "LOCAL_DEV": "true",
    "DYNAMO_TENANTS_TABLE": "ghl-tenants",
    "DYNAMO_ENDPOINT": "http://localhost:8000",
    "GHL_WIDGETS_API_KEY": "your-local-api-key-here"
  },
  "CallDataProxy": {
    "LOCAL_DEV": "true",
    "DYNAMO_CACHE_TABLE": "ghl-cache",
    "DYNAMO_TENANTS_TABLE": "ghl-tenants",
    "DYNAMO_ENDPOINT": "http://localhost:8000",
    "GHL_WIDGETS_CALL_USERNAME": "your-call-username-here",
    "GHL_WIDGETS_CALL_PASSWORD": "your-call-password-here",
    "GHL_WIDGETS_API_KEY": "your-local-api-key-here"
  },
  "GhlCacheWarmer": {
    "LOCAL_DEV": "true",
    "DYNAMO_CACHE_TABLE": "ghl-cache",
    "DYNAMO_TENANTS_TABLE": "ghl-tenants",
    "DYNAMO_ENDPOINT": "http://localhost:8000"
  }
}
